$statusWidth: 1000px;
$statusHeight: 700px;
.hideStatusModal {
  opacity: 0;
  pointer-events: none;
}
.statusModal {
  width: $statusWidth !important;
  height: $statusHeight !important;

  .swiper-wrapper {
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
    img {
      text-align: center;
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  .gallery-top {
    width: 100%;
    height: 480px;
    position: relative;
    .swiper-wrapper {
      width: calc(100% - 100px);
      margin: auto;
    }
    .swiper-button-next {
      left: auto;
    }
    .swiper-button-prev {
    }
    .swiper-button-disabled {
    }
  }

  .gallery-thumbs {
    position: relative;
    box-sizing: border-box;
    padding: 10px 0;
    height: 120px;
  }

  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    background: #eee;
    border-radius: 5px;
    margin: 0px 10px;
    box-sizing: border-box;
    img {
      text-align: center;
    }
  }

  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
  .info {
    .ant-row {
      margin-top: 20px;
    }
  }
}
