.ht-antd .ant-input-number {
    display: block;
    width: 100%;
    width: calc(100% - 1px);
    border-radius: 0;
    position: relative;
    left: -1px;
    top: -1px;
    margin-right: 1px;
}

.ht-antd .ant-input-number.ant-input-number-focused .ant-input-number-handler-wrap {
    opacity: 1;
}

.ht-antd .ant-input-number-input {
    padding: 0 4px;
}