.nav a{
  line-height: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.nav a:hover{
  font-weight: bold;
  border-bottom: 2px solid black;
}
.nav .current{
  font-weight: bold;
  border-bottom: 2px solid black;
}
.message{
  padding: 10px 20px;
  color: #e74c3c;
  background: rgba(231,76,60,0.1);
  border: 1px solid rgba(231,76,60,0.3);
  margin-bottom: 10px;
}
.medication-order .ant-pagination-item{
  display: inline-block !important;
}
.medication-order .ant-table-pagination{
  margin-right: 10px;
}
