#workbench {

    .call-login-tip {
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
    }

    .call-login-title {
        //text-align: left;
    }

    .call-login-btn {
        line-height: 34px;
    }
}